body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF; 
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}
html {
    box-sizing: border-box;
  }
  *,
  *::before *::after {
    box-sizing: inherit;
  }
    a{
    text-decoration: none;
    }
ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    } 
h1, h2, h3, h4, h5, h6, p {
        margin: 0;
      }
.container {
        width: 1158px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
      }
.picture {
        display: block;
      }
.header{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
.main-nav {
        display: flex;
        align-items: center;
      }
.logo{
        display: flex;
        align-items: center;
}
    
.logo-link{
        font-family: "Raleway", sans-serif;
        color: #4d5ae5;
        text-transform: uppercase;
        margin-right: 76px;
    }   
    
.logo-studio{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.167;
        letter-spacing: 0.03em;
        color: #2e2f42;
        
    }
    
.nav-list{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        gap: 40px;
        display: flex;
    }
.nav-list-name{
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 40px;
    }
    
.nav-list a:hover {
        color: #404bbf;
    }
    
.nav-list a:focus {
        color: #404bbf;
    }
    
.nav-list-name {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.nav-first::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
      }
.nav-list-name:hover {
        color: #404bbf;
    }
.nav-first{
        position: relative;
        color: #404bbf;
}
    
.nav-list-name:focus {
        color: #404bbf;
    }
    
.contacts{
        font-style: normal;
        display: flex;
        gap: 40px;
        margin-left: auto; 
    }
.contacts-list{
    gap: 40px;
    display: flex;

}
.contacts-link{
        list-style: none;
    }
 .contacts-name{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.contacts-name:hover,
.contacts-name:focus {
        color: #404bbf;
    }




.hero {
      color: #fff;
      background-color: #2e2f42;
      padding-top: 188px;
      padding-bottom: 188px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
      max-width: 1440px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: auto;
  }
  
  .hero .container {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }
  .hero-title {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 48px;
      max-width: 496px;
  }
  .order-service-button {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
      background: #4d5ae5;
      display: inline-block;
      min-width: 169px;
      min-height: 56px;
      border-radius: 4px;
      padding: 16px, 32px;
      border: 1px solid transparent;
      border: none;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .order-service-button:hover,
  .order-service-button:focus {
      background-color: #404BBF;
      cursor: pointer;
  }
  







.services{
    font-family: "Roboto", sans-serif;
      padding-top: 120px;
      padding-bottom: 120px;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  .advantages-title {
    display: none;
  }
  .advantages-list{
    display: flex;
    gap: 24px; 
  }
  .list-element {
    width: 264px;
  }
.services-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.services-info{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.icons-strategy{
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: #f4f4fd;
}

.img {
    padding-bottom: 120px;
  }
.img-list {
    display: flex;
    gap: 24px;
  }
.img-title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headings-text-color);
    text-align: center;
    margin-bottom: 72px;
  }
.picture{
    display: block;
}
.team{
    font-family: "Roboto", sans-serif;
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px  
}   
.team-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #F4F4FD;
    text-align: center;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;

  }
  .team-list .social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
.team-list-second{
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;

}
.social-list-link{
  width: 100%;
  height: 100%;
}
.team-list .social-list-link:hover{
  background-color: #404bbf;
}
.team-list .social-list-link:focus{
  background-color: #404bbf;
}

.card {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
.team-member{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 3 * 24) / 4);
}
.team-member-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #FFFFFF;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-member-info{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;   
}




.portfolio{
    font-family: "Roboto", sans-serif;
    padding-top: 120px;
    padding-bottom: 120px     
}
.product-picture{
    display: block;
   
}

.product{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.product-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;

}
.product-list-second{
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
} 
.product-overlay {
  position: relative;
  overflow: hidden;
}
.overlay{
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
}
.portfolio-description{
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-style{
  width: calc((100% - 4 * 24) / 6);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.product-style:hover .portfolio-description{
  transform: translateY(0);
} 
.product-style:hover{
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
  0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }
.card-product{

}
  


.product-style{
    border-radius: 0px 0px 4px 4px;
    position: relative;
    overflow: hidden;
}
.product-overlay {
  position: relative;
}


.product-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.product-info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
  }


    







.footer {
    background-color: #2e2f42;
    color: #f4f4fd; 
    padding-top: 100px;
    padding-bottom: 100px;   
}

.footer .logo-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: #2e2f42;
    margin-top: 100px;
    display: inline-block; 
    margin-bottom: 16px;
    margin: 0;
}

.logo-studio-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;   
}

.footer-text{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin-top: 16px;
    width: 264px;
    height: 72px;
    left: 156px;
    top: 2418px;   
}
.footer-box{
    margin-right: 120px;
  
  }


 .container-footer {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  margin-right: 120px;
}
.icons-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-list-footer {
  display: flex;
  gap: 16px;
}
.social-footer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
}
.social-footer:hover,
.social-footer:focus {
  background-color: #31d0aa;
}
.social-item-footer {
  width: 40px;
  height: 40px;
}
.social-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





  .footer-box {
    margin-right: 120px;
   
  }
  .footer-container{
    display: flex;
    align-items: baseline;
  }
  .social-links{
    display: flex;
    gap: 16px;
  }
  
  .footer-box-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }
  .footer-box-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
  }
  .footer-box-link:hover,
  .footer-box-link:focus {
    background-color: #31d0aa;
  }
  .footer-list{
  
  width: 40px;
  height: 40px;
  
  }
  .footer-box-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 

  






  .footer-subscribe {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
  }
  
  .subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    cursor: pointer;
    height: 40px;
    color: #fff;
    letter-spacing: 0.04em;
  }
  
  .footer-icon-telegram {
    fill: #fff;
    margin-left: 16px;
  }
  
  .footer-info-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  
  .footer-form {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  
  .footer-form-input {
    width: 264px;
    height: 40px;
    padding: 8px;
    padding-left: 16px; 
    font-size: 16px;
    outline: none;
    border: 1px solid #ffffff; 
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
  }
  



/* modal */
.form{
  display: flex;
  gap: 24px;
}
.form-input-footer{
  width: 264px;
  height: 40px;
  padding: 8px;
  padding-left: 16px;
  border: 1px solid #ffffff;  
  color:#ffffff;
  background-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: 12px;
  outline: none;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-modal-btn{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.40);
  position: fixed;
  margin-bottom: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal{
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
}

.modal-p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-item{
  margin-bottom: 8px;
}
.form-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input{
  position: relative;
}

.form-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4D5AE5;
}

.form-input:focus+.modal-icon-field{
  fill: #4d5ae5;
}

.form-input:hover+.modal-icon-field{
  fill: #4d5ae5;
}

.modal-input {
  margin-bottom: 8px;
}

.modal-field {
  margin-bottom: 8px;
}

.comment-field {
  margin-bottom: 16px;
}

.modal-icon-field {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-field:focus {
  fill: #4D5AE5;
}

.subscribe-field {
  margin-bottom: 24px;
}

.user-agree {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.privacy-policy-href {
  color: #4d5ae5;
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.button-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button-close:hover{
      background-color: #404bbf;
      border: none;
      fill: #ffffff;
}
.modal-button-close:focus{
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}


.send-btn{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover{
  fill: #ffffff;
}
.send-button:focus{
  fill: #ffffff;
}
.user-comment{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-field:checked+.user-agree>.privacy-policy {
  background-color: #404BBF;
  border: none;
  fill: #F4F4FD;
}
.user-comment:focus {
  border-color: #4D5AE5;
}
.checkbox-icon {
  fill: #f4f4fd;
}
.input:checked+label>span {
  background-color: #404BBF;
  fill: #f4f4fd;
  border: none;
}




.modal-input-wrapper {
  position: relative;
}

.form-input:focus + .modal-icon-field {
  fill: #4d5ae5;
}

.form-input:hover + .modal-icon-field {
  fill: #4d5ae5;
}

.modal-icon-field {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



