body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF; 
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}
html {
    box-sizing: border-box;
  }
  *,
  *::before *::after {
    box-sizing: inherit;
  }
    a{
    text-decoration: none;
    }
ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    } 
h1, h2, h3, h4, h5, h6, p {
        margin: 0;
      }
.container {
        width: 1158px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
      }
.picture {
        display: block;
      }
.header{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        border-bottom: 1px solid #e7e9fc;
    }
.main-nav {
        display: flex;
        align-items: center;
      }
.logo{
        display: flex;
        align-items: center;
}
    
.logo-link{
        font-family: "Raleway", sans-serif;
        color: #4d5ae5;
        text-transform: uppercase;
        margin-right: 76px;
    }   
    
.logo-studio{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.167;
        letter-spacing: 0.03em;
        color: #2e2f42;
        
    }
    
.nav-list{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        gap: 40px;
        display: flex;
    }
.nav-list-name{
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 40px;
}
    
.nav-list a:hover {
        color: #404bbf;
    }
    
.nav-list a:focus {
        color: #404bbf;
    }
    
.nav-list-name{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    
.nav-list-name:hover {
        color: #404bbf;
    }
    
.nav-list-name:focus {
        color: #404bbf;
    }
    
.contacts{
        font-style: normal;
        display: flex;
        gap: 40px;
        margin-left: auto; 
    }
.contacts-list{
    gap: 40px;
    display: flex;

}
.contacts-link{
        list-style: none;
    }
 .contacts-name{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    
.contacts-name:hover,
.contacts-name:focus {
        color: #404bbf;
    }





.hero{
    color: #fff; 
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;   
}
.hero .container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
.hero-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff; 
    background: #2e2f42;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;     
} 
.order-service-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: inline-block;
    min-width: 169px;
    min-height: 56px;
    border-radius: 4px;
    padding: 16px, 32px;
    border: 1px solid transparent;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    
}  
.order-service-button:hover,
.order-service-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}







.services{
    font-family: "Roboto", sans-serif;
      padding-top: 120px;
      padding-bottom: 120px;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  .advantages-title {
    display: none;
  }
  .advantages-list{
    display: flex;
    gap: 24px; 
  }
  .list-element {
    width: 264px;
  }
.services-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.services-info{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.img {
    padding-bottom: 120px;
  }
.img-list {
    display: flex;
    gap: 24px;
  }
.img-title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headings-text-color);
    text-align: center;
    margin-bottom: 72px;
  }
.picture{
    display: block;
}
.team{
    font-family: "Roboto", sans-serif;
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px  
}   
.team-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #F4F4FD;
    text-align: center;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
  }
.card {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
.team-member{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}
.team-member-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #FFFFFF;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-member-info{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;   
}




.portfolio{
    font-family: "Roboto", sans-serif;
    padding-top: 120px;
    padding-bottom: 120px     
}
.product-picture{
    display: block;
}
.product{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.product-list{
    display: flex;
    gap: 24px;
    margin-bottom: 48px;
    flex-wrap: wrap;
    row-gap: 48px;

}
.product-list-second{
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
} 
.card {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }
.card-product{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.product-style{
    border-radius: 0px 0px 4px 4px;
}

.product-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.product-info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
    margin-bottom: 72px;

}
.footer {
    background-color: #2e2f42;
    color: #f4f4fd; 
    padding-top: 100px;
    padding-bottom: 100px;   
}

.footer .logo-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: #2e2f42;
    margin-top: 100px;
    display: inline-block; 
    margin-bottom: 16px;
}

.logo-studio-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;   
}

.footer-text{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin-top: 16px;
    width: 264px;
    height: 72px;
    left: 156px;
    top: 2418px;   
}


 