body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF; 
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}
html {
    box-sizing: border-box;
  }
  *,
  *::before *::after {
    box-sizing: inherit;
  }
    a{
    text-decoration: none;
    }
ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    } 
h1, h2, h3, h4, h5, h6, p {
        margin: 0;
      }
.container {
        width: 1158px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
      }
.picture {
        display: block;
      }
.header{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
.main-nav {
        display: flex;
        align-items: center;
      }
.logo{
        display: flex;
        align-items: center;
}
    
.logo-link{
        font-family: "Raleway", sans-serif;
        color: #4d5ae5;
        text-transform: uppercase;
        margin-right: 76px;
    }   
    
.logo-studio{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.167;
        letter-spacing: 0.03em;
        color: #2e2f42;
        
    }
    
.nav-list{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        gap: 40px;
        display: flex;
    }
.nav-list-name{
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 40px;
    }
    
.nav-list a:hover {
        color: #404bbf;
    }
    
.nav-list a:focus {
        color: #404bbf;
    }
    
.nav-list-name {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.nav-first::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
      }
.nav-list-name:hover {
        color: #404bbf;
    }
.nav-first{
        position: relative;
        color: #404bbf;
}
    
.nav-list-name:focus {
        color: #404bbf;
    }
    
.contacts{
        font-style: normal;
        display: flex;
        gap: 40px;
        margin-left: auto; 
    }
.contacts-list{
    gap: 40px;
    display: flex;

}
.contacts-link{
        list-style: none;
    }
 .contacts-name{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.contacts-name:hover,
.contacts-name:focus {
        color: #404bbf;
    }





.hero{
    color: #fff; 
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px; 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    background-image: url(../images/people-office\ 1.png);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero .container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
.hero-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff; 
    background: #2e2f42;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;     
} 
.order-service-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: inline-block;
    min-width: 169px;
    min-height: 56px;
    border-radius: 4px;
    padding: 16px, 32px;
    border: 1px solid transparent;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}  
.order-service-button:hover,
.order-service-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}







.services{
    font-family: "Roboto", sans-serif;
      padding-top: 120px;
      padding-bottom: 120px;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  .advantages-title {
    display: none;
  }
  .advantages-list{
    display: flex;
    gap: 24px; 
  }
  .list-element {
    width: 264px;
  }
.services-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.services-info{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.icons-strategy{
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: #f4f4fd;
}

.img {
    padding-bottom: 120px;
  }
.img-list {
    display: flex;
    gap: 24px;
  }
.img-title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headings-text-color);
    text-align: center;
    margin-bottom: 72px;
  }
.picture{
    display: block;
}
.team{
    font-family: "Roboto", sans-serif;
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px  
}   
.team-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #F4F4FD;
    text-align: center;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;

  }
  .team-list .social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
.social-list-link{
  width: 100%;
  height: 100%;
}
.team-list .social-list-link:hover{
  background-color: #404bbf;
}
.team-list .social-list-link:focus{
  background-color: #404bbf;
}

.card {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
.team-member{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 3 * 24) / 4);
}
.team-member-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #FFFFFF;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-member-info{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;   
}




.portfolio{
    font-family: "Roboto", sans-serif;
    padding-top: 120px;
    padding-bottom: 120px     
}
.product-picture{
    display: block;
   
}

.product{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.product-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;

}
.product-list-second{
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
} 
.product-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-description{
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-style{
  width: calc((100% - 4 * 24) / 6);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.product-style:hover .portfolio-description{
  transform: translateY(0);
} 
.product-style:hover{
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
  0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }
.card-product{

}
  


.product-style{
    border-radius: 0px 0px 4px 4px;
    position: relative;
    overflow: hidden;
}
.product-overlay {
  position: relative;
}


.product-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.product-info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
  }


    







.footer {
    background-color: #2e2f42;
    color: #f4f4fd; 
    padding-top: 100px;
    padding-bottom: 100px;   
}

.footer .logo-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: #2e2f42;
    margin-top: 100px;
    display: inline-block; 
    margin-bottom: 16px;
    margin: 0;
}

.logo-studio-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;   
}

.footer-text{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin-top: 16px;
    width: 264px;
    height: 72px;
    left: 156px;
    top: 2418px;   
}
.footer-box{
    margin-right: 120px;
  
  }


 .container-footer {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  margin-right: 120px;
}
.icons-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-list-footer {
  display: flex;
  gap: 16px;
}
.social-footer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
}
.social-footer:hover,
.social-footer:focus {
  background-color: #31d0aa;
}
.social-item-footer {
  width: 40px;
  height: 40px;
}
.social-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





  .footer-box {
    margin-right: 120px;
  }
  .footer-container{
    display: flex;
    align-items: baseline;
  }
  .social-links{
    display: flex;
    gap: 16px;
  }
  
  .footer-box-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }
  .footer-box-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
  }
  .footer-box-link:hover,
  .footer-box-link:focus {
    background-color: #31d0aa;
  }
  .footer-list{
  
  width: 40px;
  height: 40px;
  
  }
  .footer-box-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 
  